/* Default styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  /* background-color: #e0e5eb; */
}

nav span {
  color: #FF7A00;
  font-weight: 500;
  font-size: x-large;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  padding: 0;
}

nav ul li {
  list-style: none;
  color: #556987;
  cursor: pointer;
  margin: 5px;
  /* Adjust spacing between items */
}

nav ul li:hover {
  color: #FF7A00;
}

nav button {
  padding: 7px 10px;
  margin: 3px;
  font-weight: 400;
}

.mobileLinks 
{
  visibility: hidden;
} 
.signUpBtn {
  background-color: #FF7A00;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.signUpBtn:hover {
  cursor: pointer;
  background-color: #f8b576;
}

.loginBtn {
  background-color: transparent;
  color: #556987;
  border: none;
}

.loginBtn:hover {
  cursor: pointer;
  color: #FF7A00;
}

.logoutBtn {
  background-color: #FF7A00;
  border: none;
  border-radius: 5px;
}

.logoutBtn:hover {
  cursor: pointer;
  background-color: #f8b576;
}

/* Media query for tablets and larger devices */
@media (min-width: 768px) {
  

  nav ul {
    flex-wrap: nowrap;
    /* Prevent items from wrapping */
  }

  nav ul li {
    margin: 0 20px;
    /* Increase spacing between items */
  }
}

/* Media query for smaller devices */
@media (max-width: 576px) {

  .mobileLinks 
  {
    visibility: visible;
  }
  nav ul li {
    visibility: hidden;
  }

  nav {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

  }

  .navButtons {
    width: 300px;
    display: flex;
    justify-content: flex-end;
  }


  .mobileLinks {
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 400px; */
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 10px;
  }

  .mobileLinks ul{
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    height: 25px;

  }
  .mobileLinks ul li {
    /* display: flex; */
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    
  }
  
  .mobileLinks ul li:hover {
    cursor: pointer;
    color: #FF7A00;
    
    
  }
  
  .link-blogs {
    background-color: #ffddbe;
    padding: 3px 6px;
    border-radius: 5px 5px;
    color: red;

  }

  .link-contact-us{
    background-color: #ffffc7;
    padding: 3px 6px;
    border-radius: 5px 5px;
    color: red;
  }
}